.swiper {
  padding: 20px;
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  height: 277px;
}

.swiper-button-prev, .swiper-button-next {
  color: #A78BFA;
}

.swiper-button-prev {

}

.swiper-button-next {

}